.mainsection {
    &__secondsectionmngacc {
        display: flex;
        width: 100%;
        justify-content: center;
        &__div {
            justify-content: space-around;
            display: flex;
            flex-direction: column;
            width: 30rem;
            height: 55rem;
            padding-right: 3rem;
            padding-bottom: 0.6rem;
            padding-left: 3rem;
            border: 1px solid black;
            margin-bottom: 6rem;
            margin-top: 6rem;
            gap: 2rem;
            
            &__title {
                margin-left: 10rem;
                margin-top: 0.5rem;
            }
            &__subtitle {
                margin-left: 7rem;
                margin-top: -1rem;
            }
            &__form {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                &__bankname__errors {
                    position: absolute;
                    font-weight: bold;
                    color: red;
                    margin-top: 4.5rem;
                }
                &__bankownername__errors  {
                    position: absolute;
                    font-weight: bold;
                    color: red;
                    margin-top: 10.5rem;
                }
                &__bankCPFvalue__errors  {
                    position: absolute;
                    font-weight: bold;
                    color: red;
                    margin-top: 16.5rem;
                }
                &__bankaccountnumber__errors  {
                    position: absolute;
                    font-weight: bold;
                    color: red;
                    margin-top: 22.5rem;
                }
                &__banksecuritynumber__errors  {
                    position: absolute;
                    font-weight: bold;
                    color: red;
                    margin-top: 28.5rem;
                }
                &__bankbalancevalue__errors  {
                    position: absolute;
                    font-weight: bold;
                    color: red;
                    margin-top: 34.5rem;
                }
            }
        }
        &__btn {
            margin-left: 6rem;
            width: 10rem;
            height: 2rem;
            border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
            &:hover {
                cursor: pointer;
            }    
        }
    }
}
