.mainsection {
    display: flex;
    height: 47rem;
    &__firstsection {
        width: 16rem;
        box-shadow: 9px 5px 15px -2px gray;
        height: 100%;
    }
    &__personaldatasection {
        &__div {
            display: flex;
            gap: 1rem;
            height: 4rem;
            background-color: #40916c;;
            color: rgba(white, 0.9);
            align-items: center;
            &__title {
                padding-left: 0.5rem;
            }
            &__notification {
                margin-left: 2.5rem;
                background-color: #2d6a4f;
                padding: 0.2rem;
                color: rgba(white, 0.9);
                font-size: 1.3rem;
                padding-top: 0.3rem;
                border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
                transition-timing-function: ease-in-out;
                &:hover {
                    cursor: pointer;
                }
                &:active {
                    background-color: #40916c;
                }
            }
        }
    
    }
    &__balancesection {
        width: 14rem;
        &__div {
            display: flex;
            gap: 3.2rem;
            height: 5rem;
            border-bottom: 1px solid darkgray;
            &__title {
                margin-left: 0.6rem;
                font-family: 'Montserrat';
                color: gray;
                font-size: 1rem;
            }
            &__visiblebalance {
                font-family: 'Montserrat';
                margin-left: 0.6rem;
                font-size: 1.3rem;
            }
            &__hiddenbalance {
                font-family: 'Montserrat';
                margin-left: 0.6rem;
                font-size: 1.3rem;
            }
            &__openedeye {
                margin-top: 2.3rem;
                font-size: 1.5rem;
                margin-left: 1.8rem;
                &:hover {
                    cursor: pointer;
                }
            }
            &__closedeye {
                margin-top: 2.3rem;
                font-size: 1.5rem;
                position: absolute;
                margin-left: 11rem;
                &:hover {
                    cursor: pointer;
            }
        }
            &__balancetitle {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
            }
        }
    }
    &__bankdatasection {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid darkgray;
        padding-bottom: 1rem;
        &__plus {
            margin-top: 2rem;
            font-size: 3rem;
            margin-left: 5rem;
            color: #40916c;
            &:hover {
                cursor: pointer;
                color: #2d6a4f;
            }
        }
        &__manageaccountbtn {
            width: 10.5rem;
            height: 2rem;
            margin-top: 3rem;
            margin-left: 0.7rem;
            background-color: #40916c;
            color: rgba(white, .9);
            border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
            border-color: #40916c;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: #2d6a4f;
            }
        }
        &__title {
            margin-left: 0.6rem;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-top: 0.6rem;
        }
        &__accountinfo {
            &__div {
                padding-left: 0.6rem;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                &__bankname {
                    font-size: 1.5rem;
                    font-family: 'Lato';
                }
                &__bankaccountinfo {
                    font-size: 1.1rem;
                    font-family: 'Montserrat';
                    color: rgba(gray, 0.9);
                }
                &__balance {
                    &__div {
                        &__balanceinfo {
                            font-size: 1.3rem;
                            font-family: "Montserrat";
                        }
                    }
                }
            }
        }
    }
    &__useractions {
        display: flex;
        flex-direction: column;
        width: 10.5rem;
        gap: 3rem;
        margin-top: 3rem;
        margin-left: 0.7rem;
        &__transferbtn {
            height: 2rem;
            width: 10.5rem;
            background-color: #40916c;
            color: rgba(white, .9);
            border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
            border-color: #40916c;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: #2d6a4f;
            }
        }
        &__depositbtn {
            height: 2rem;
            width: 10.5rem;
            background-color: #40916c;
            color: rgba(white, .9);
            border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
            border-color: #40916c;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: #2d6a4f;
            }
        }
    }
    &__bottomdiv {
        height: 6rem;
        background-color: #40916c;
        margin-top: 4rem;
    }
}