.mainsection {
    &__secondsection {
        height: 50rem;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        &__title {
            font-size: 3rem;
            margin-top: 1rem;
            font-family: 'Montserrat';

        }
        &__companyinfo {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            &__title {
                font-family: 'Roboto';
                font-size: 2rem;
                border-bottom: 2px solid black;
                width: 12rem;

            }
            &__description {
                font-size: 1.2rem;
                font-family: 'Montserrat';
                text-align: left;
                width: 50rem;

            }
            &__firstaddinfo {
                display: flex;
                gap: 1rem;
                align-items: center;
                &__div {
                    display: flex;
                    gap: 2rem;
                    &__checkedicon {
                        font-size: 1.5rem;
                        padding: 0.7rem 0.5rem 0.5rem;
                        margin-bottom: 2rem;
                        color: darkgray;
                        box-shadow: 2px -2px 1px 1px gray;
                        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
                    }
                    &__description {
                        width: 27rem;
                        text-align: left;
                        font-size: 1.5rem;
                        margin-right: -5rem
        
                    }
                    &__downloadinfo {
        
                    }
                }
            }
            &__secondaddinfo {
                display: flex;
                gap: 1rem;
                align-items: center;
                margin-top: 1rem;
                &__div {
                    display: flex;
                    gap: 1rem;
                    &__checkedicon {
                        font-size: 1.5rem;
                        padding: 0.7rem 0.5rem 0.5rem;
                        margin-bottom: 2rem;
                        color: darkgray;
                        box-shadow: 2px -2px 1px 1px gray;
                        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        
                    }
                    &__description {
        
                    }
                    &__downloadinfo {
                        width: 15rem;
                        text-align: left;
                        font-size: 1.3rem;
        
                    }
                }
            }
        }
        &__instructions {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            &__title {
                font-size: 1.9rem;
                font-family: 'Roboto';
                border-bottom: 2px solid black;
                width: 17rem;
            }
            &__description {
                font-size: 1.4rem;
                font-family: 'Lato';
                width: 47rem;
                &__list {
                    &__item {
                        list-style: none;
                    }
                }
            }
        }
        &__footer {
            font-size: 1.2rem;
            font-family: 'Montserrat';
            margin-top: 1rem;
        }
    }
}